/* ElevenPage Reader - Highlight Styles */

.elevenlabs-sentence-highlight {
  /* Sentence highlight styling will be defined here */
}

.elevenlabs-word-highlight {
  /* Word highlight styling will be defined here */
}
